<aside data-sidenav class="sidenav">
  <header class="header">
    <button type="button" data-burger-return-btn>
      <i class="fas fa-long-arrow-alt-left"></i>
    </button>
    
    <img src="assets/images/logo-footer.svg" alt="logo-clndp" />
    <button type="button" class="close-btn" data-burger-close-btn>
      <i class="fa fa-times"></i>
    </button>
  </header>

  <section class="menu-content" data-sidenav-core>
    <section class="core">
      <address>
        <ul class="contact-bar">
          <li>
            <i class="fas fa-phone-alt"></i>
            <p>+33 01 34 12 63 78</p>
          </li>
          <li>
            <i class="fas fa-clock"></i>
            <p>
              Lundi - Vendredi : 7h30 à 18h00
              <br />
              Mercredi : 7h30 à 16h
            </p>
          </li>
          <li>
            <i class="fas fa-map-marker-alt"></i>
            <p>9 Boulevard Sadi Carnot, 95880 Enghien-Les-Bains</p>
          </li>
        </ul>
      </address>

      <nav>
        <ul>
          {% for menu_item in menu %} 
          <li>
            {% if menu_item.sub_menu %}
            <button type="button" data-submenu-level="1" data-submenu-root='{{ menu_item.sub_menu | json_encode | e("html_attr") }}'>
              {{ menu_item.name }}
              <i class="fas fa-chevron-right"></i>
            </button>
            {% else %}
            <a href="">
              {% if menu_item.icon %}
              <i class="{{ menu_item.icon }}"></i>
              {% endif %} {{ menu_item.name }}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </section>
    <!-- <section data-sidenav-submenu class="core">
      <h1 data-title="" class="title"></h1>
      <nav>
        <ul data-list-items="">
          <li></li>
        </ul>
      </nav>
    </section> -->
  </section>
</aside>

<template data-template-id="submenu-panel">
  <section data-sidenav-submenu class="core">
    <h1 data-title="" class="title"></h1>
    <nav>
      <ul data-list-items="">
      </ul>
    </nav>
  </section>
</template>

<template data-template-id="submenu-button">
  <button type="button">
      <i class="fas fa-chevron-right"></i>
  </button>
</template>

<template data-template-id="submenu-link">
  <a href=""></a>
</template>
