{% include 'burger-menu.twig' %}

<header class="header">
    <section class="burger-icon-container">
        <button type="button" class="burger-btn" data-burger-open-btn>
            <i class="fas fa-bars"></i>
        </button>
    </section>
    <address>
        <ul class="contact-bar">
            <li>
                <i class="fas fa-phone-alt"></i>
                <p>+33 01 34 12 63 78</p>
            </li>
            <li>
                <i class="fas fa-clock"></i>
                <p>
                    Lundi - Vendredi : 7h30 à 18h00
                    <br/>
                    Mercredi : 7h30 à 16h
                </p>
            </li>
            <li>
                <i class="fas fa-map-marker-alt"></i>
                <p>9 Boulevard Sadi Carnot, 95880 Enghien-Les-Bains</p>
            </li>
        </ul>
    </address>
    <figure class="banner">
        <picture>
            <source media="(max-width: 799px)" srcset="assets/images/banniere.jpg" />
            <img
              src="assets/images/banniere.jpg"
              alt="" />
        </picture>
    </figure>
    <nav class="navbar">
        <ul>
            {% for menu_item in menu %}
                <li>
                    <a href="{{ menu_item.link }}" class="{{ menu_item.class }} {% if loop.first %} active {% endif %}">
                        {% if menu_item.icon %}
                            <i class="{{ menu_item.icon }}"></i>
                        {% endif %}
                        {{ menu_item.name }}
                    </a>
                    {% if menu_item.sub_menu %}
                        <ul class="sub-menu">
                            {% include 'sub-menu.twig' with {'menu': menu_item.sub_menu} %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>
