{% 
	set list_partners = [
		{
			"image": "assets/images/partenaires/logo-diocésaine.png",
			"alt": "",
			"link": "https://ddec95.org/"
		},
		{
			"image": "assets/images/partenaires/logo-fondation-saint-matthieu.png",
			"alt": "",
			"link": "https://www.fondation-st-matthieu.org/"
		},
		{
			"image": "assets/images/partenaires/formiris.jpg",
			"alt": "",
			"link": "https://www.formiris.org/"
		},
		{
			"image": "assets/images/partenaires/enseignement-catholique.jpg",
			"alt": "",
			"link": "https://ddec95.org/sites/devenirenseignant/"
		},
		{
			"image": "assets/images/partenaires/enseignement-catholique.jpg",
			"alt": "",
			"link": "https://ddec95.org/"
		}
	] 
%}

<ul class="list-partners">
	{% for partner in list_partners %}
		<li class="partner">
			<a href="{{ partner.link }}" target="_blank">
				<img src="{{ partner.image }}" alt="{{ partner.alt }}">
			</a>
		</li>
	{% endfor %}
</ul>
