{% macro section_title(name) %}
<section class="section-title-wrapper">
  <section class="section-title">
    <h1>{{ name }}</h1>
    <hr class="section-title-separator" />

    <div class="yellow-box"></div>
    <div class="red-box"></div>
    <div class="blue-box"></div>
  </section>
</section>
{% endmacro %}
