:root {
  --header-size: 3em;
  --title-size: 1.4em;
  --subtitle-size: 1.5em;
  --body-size: 1em;
  --swiper-navigation-size: 4em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: white;
  width: 100%;
}
