{% import "macros/section-title.twig.html" as section_title %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Accueil - Collège Lycée Notre-Dame Providence</title>
    <link rel="icon" href="assets/images/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no">

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" /> -->
    <link rel="stylesheet" href="assets/css/reset.css" />
    <link rel="stylesheet" href="assets/css/video-js.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

	  <!-- fancyBox CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- fancyBox JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

    <script src="assets/js/video.min.js" defer></script>
    <script src="assets/js/main.js" defer></script>
    <script type="module" src="/src/main.js" defer></script>
  </head>
  <body>
    {% include 'includes/header.twig.html' %}
    <main class="main">
      <!-- <section class="video-cropper">
						        <section class="video-container">
						          <video
						            id="my-video"
						            class="video-js vjs-fluid"
						            controls
						            preload="auto"
						            width="500"
						            height="100"
						            loop
						            data-setup='{"controls": false, "autoplay": true, "preload": "auto", "muted": true}'
						          >
						            <source src="assets/videos/videoplayback.mp4" type="video/mp4" />
						          </video>
						        </section>
						      </section> -->

      <section class="main-content">
        <section class="video-container">
          <video
            id="my-video"
            class="video-js vjs-fluid"
            controls
            preload="auto"
            width="500"
            height="100"
            loop
            data-setup='{"controls": false, "autoplay": true, "preload": "auto", "muted": true}'
          >
            <source src="assets/videos/videoplayback.mp4" type="video/mp4" />
          </video>
          <div class="square-background"></div>
        </section>

        <h1 class="main-title">Etablissement catholique d'enseignement</h1>
        <a
          href="https://ndp-enghien.org/images/presentation2.pdf"
          class="decouvrir-presentation before"
          >Découvrir l’établissement</a
        >

        {{ section_title.section_title(' Une vie scolaire dynamique ') }}

        <section class="socials-activities">
          <ul class="socials-activities-list">
            <li>
              <img src="assets/images/vie-scolaire/vie-scolaire1.jpg" alt="" />
              <p class="activity-title">Voyages</p>
            </li>

            <li>
              <img src="assets/images/vie-scolaire/vie-scolaire2.jpg" alt="" />
              <p class="activity-title">Sorties</p>
            </li>

            <li>
              <img src="assets/images/vie-scolaire/vie-scolaire3.jpg" alt="" />
              <p class="activity-title">Théâtre</p>
            </li>
            <li>
              <img src="assets/images/vie-scolaire/vie-scolaire3.jpg" alt="" />
              <p class="activity-title">Numérique</p>
            </li>
            <li>
              <img src="assets/images/vie-scolaire/vie-scolaire3.jpg" alt="" />
              <p class="activity-title">Projets</p>
            </li>
            <li>
              <img src="assets/images/vie-scolaire/vie-scolaire3.jpg" alt="" />
              <p class="activity-title">Événements</p>
            </li>
          </ul>

          <section class="cta-wrapper">
            <a
              href="https://ndp-enghien.org/mag/"
              target="_blank"
              rel="noopener noreferrer"
              class="link-cta"
              >Découvrir</a
            >
          </section>

          {{ section_title.section_title("L'établissement") }}

          <section class="school-presentation">
            <article class="overlay">
              <h2>L'histoire</h2>

              <p>
                Au début du siècle, l’Abbé Simonin créa pour les garçons, une
                école d’enseignement libre : l’institution St Joseph qui se
                transforma le 15 mars 1903, grâce à un groupe de personnalités
                d’Enghien, en un établissement d’enseignement privé, la Société
                d’Enseignement Moderne, présidée par Monsieur Maciet. Cette
                société prit le nom d’Institution d’Enseignement Moderne et
                s’installa boulevard Sadi-Carnot où elle se trouve encore,
                Monsieur Laverhne, premier directeur laïc, ouvrit l’année
                scolaire 1903/1904 avec 27 élèves.
              </p>
              <ul>
                <li>
                  <a
                    href="https://ndp-enghien.org/images/presentation2.pdf"
                    class="decouvrir-presentation after"
                    >Découvrir</a
                  >
                </li>
                <li>
					<a data-fancybox href="assets/videos/videoplayback.mp4" class="video-button"><i class="fas fa-play"></i> L'école en vidéo</a>
                </li>
              </ul>
            </article>
            <img src="assets/images/presentation/presentation.png" alt="" />
          </section>

          {{ section_title.section_title("L'établissement") }}

          <section class="section-title-wrapper">
            <section class="section-title">
              <h1>Partenaires</h1>
              <hr class="section-title-separator" />

              <div class="yellow-box"></div>
              <div class="red-box"></div>
              <div class="blue-box"></div>
            </section>
          </section>
          {% include 'includes/partners.twig.html' %}
        </section>
      </section>
    </main>
    {% include 'includes/footer.twig.html' %}
  </body>
</html>
