@import "./media-queries.scss";

footer {
  background-color: #418cd8;
  color: #ffffff;
  margin-top: 65px;
  padding: 23px 0;
}

.footer-container {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include tablet-max {
    flex-direction: column-reverse;
    row-gap: 2rem;
    text-align: center;
  }

  .logo-copyright {
    margin-top: 23px;
  }

  .icon {
    margin-right: 5px;
    color: #f8cb53;
  }

  .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link-legal {
    text-decoration: underline;
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}
