@import "./media-queries.scss";


.sidenav {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100%; 
  background-color: #fff;
  padding: 15px 0 20px;
  transition: left 0.5s ease;
  z-index: 9999;
  display: none;
  flex-direction: column;

  @include burger-enable {
    display: flex;
  }

  @include mobile {
    width: 100%;
  }

  .contact-bar {
    margin-bottom: 0.05rem;
    row-gap: 0.5rem;
    background-color: #f8cb531f;
    padding: 20px;
    flex-direction: column;

    li:last-child {
      margin-left: 0;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .header {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
    margin-bottom: 1.5rem;
    position: relative;
    grid-template: ". logo icon";
    padding: 0 20px;

    img {
      width: 75px;
      display: block;
      justify-self: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  nav {
    padding: 0 20px;
    overflow-y: auto;

    a, button {
      padding: 15px 8px 15px 0;
      text-decoration: none;
      font-size: 1.5rem;
      color: #418cd8;
      display: block;
      transition: 0.3s;
      display: flex;
      width: 100%;

      &:hover {
        color: #111;
      }
    }

    a i{
      margin-right: 1rem;
    }

    button {
      align-items: center;
      justify-content: space-between;
    }
  }

  &.active {
    left: 0;
  }

  .close-btn {
    font-size: 1.5rem;
    justify-self: end;
    grid-area: icon;
    color: black;
    padding: 0;
  }
}
