@import "./media-queries.scss";

.sidenav {
  height: 100%;
  width: 410px;
  position: fixed;
  z-index: 1;
  top: 0;
  transform: translateX(-100%);
  background-color: #fff;
  padding: 15px 0 0;
  transition: transform 0.5s ease;
  z-index: 9999;
  display: none;
  flex-direction: column;
  overflow: hidden;

  @include burger-enable {
    display: flex;
  }

  @include mobile {
    width: 100%;
  }

  .menu-content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    transition: transform 0.5s ease;
    height: 90%;

    // display: flex;
    // flex-direction: column;
    // height: 100%;
    // margin-bottom: 20px;
  }

  .core {
    display: flex;
    flex-direction: column;
    // height: 100%;
    // display: grid;
    // grid-auto-rows: auto;
    overflow-y: auto;

    transition: transform 0.5s ease;
  }

  .title {
    font-size: 2.25rem;
    padding: 0 20px;
    margin-bottom: 1rem;
  }

  .contact-bar {
    margin-bottom: 0.05rem;
    row-gap: 0.5rem;
    background-color: #f8cb531f;
    padding: 20px;
    flex-direction: column;

    li:last-child {
      margin-left: 0;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .header {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin-bottom: 1.5rem;
    position: relative;
    grid-template: ". logo icon";
    padding: 0 20px;

    img {
      width: 75px;
      display: block;
      justify-self: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  nav {
    padding: 0 20px;
    overflow-y: auto;

    a,
    button {
      padding: 16px 8px 16px 0;
      text-decoration: none;
      font-size: 1.4rem;
      color: #418cd8;
      transition: 0.3s;
      display: flex;
      width: 100%;
      white-space: nowrap;

      &:hover {
        color: #111;
      }
    }

    a i {
      margin-right: 1rem;
    }

    button {
      align-items: center;
      justify-content: space-between;
    }
  }

  &.active {
    transform: translateX(0%);
  }

  .close-btn {
    justify-self: end;
    grid-area: icon;
  }
  
  .return-btn,
  .close-btn {
    font-size: 1.5rem;
    color: black;
    padding: 0;
  }

  .sub-menu {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}
