@import "./media-queries.scss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --header-size: 3rem;
  --title-size: 2rem;
  --subtitle-size: 1.5rem;
  --body-size: 1rem;
  --swiper-navigation-size: 4rem;
  --max-width: 1440px;
}

@include tablet-max {
  :root {
    --header-size: 3rem;
    --title-size: 1.5rem;
    --subtitle-size: 1.5rem;
    --body-size: 1rem;
    --swiper-navigation-size: 4rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  background-color: white;
  width: 100%;
  margin: 0;
  overscroll-behavior: none;
}

body,
input,
textarea,
button {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
}

.main {
  background: url("assets/images/header/background-header.svg") no-repeat right
    top;
  background-size: contain;
}

.sidemenu-opened {
    @include burger-enable {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }
}

.main-content {
  max-width: var(--max-width);
  padding: 0 0.5rem;
  margin: 0 auto;
}

.video-container {
  width: 65%;
  
  // aspect-ratio: 3/1;
  // object-fit: cover;
  // height: 100%;
  // width: auto;
  // overflow: hidden;
  // display: flex;
  // align-items: center;

  @include tablet-max {
    width: 100%;
  }

  video {
    z-index: 1;
  }

  .square-background {
    position: absolute;
    background-color: #418cd8;
    width: 60%;
    height: 50%;
    top: 53%;
    left: -10px;
    z-index: 0;
  }
}

.main-title {
  font-size: 3rem;
  color: #418cd8;
  margin: 0px;
  max-width: 600px;
  font-weight: bold;
  margin: 60px 0;
}

.section-title-wrapper {
  text-align: center;
  color: #000000;
  font-weight: 800;
  font-size: var(--title-size);
  margin-top: 90px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;

  .section-title {
    width: fit-content;
    position: relative;
  }

  .section-title-separator {
    height: 3px;
    color: #f8cb53;
    background-color: #f8cb53;
    width: 145px;
    border: none;
    margin: 20px auto 0;
  }

  .yellow-box {
    position: absolute;
    background-color: #f8cb53;
    right: -45px;
    bottom: 20px;
    height: 20px;
    width: 20px;
  }

  .blue-box {
    position: absolute;
    background-color: #418cd8;
    left: -40px;
    top: 28px;
    height: 17px;
    width: 17px;
  }

  .red-box {
    position: absolute;
    background-color: #ff0000;
    left: 0;
    top: -30px;
    height: 11px;
    width: 11px;
  }
}

// @include tablet-max {
//   grid-template-columns: repeat(2, 1fr);
//   gap: 1rem;
// }

.socials-activities {
  .socials-activities-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 20px;

    @include tablet-max {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mobile {
      grid-template-columns: none;

      column-gap: 10px;
      grid-auto-flow: column;
      overflow-y: hidden;
      overflow-x: auto;
      grid-auto-columns: 90%;
    }

    li {
      width: 100%;
      aspect-ratio: 1 / 1;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      .activity-title {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f8cb53;
        text-align: center;
        padding: 10px 30px;
        color: white;
      }
    }
  }
}

.cta-wrapper {
  margin: 30px 0px 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-cta {
  background-color: #f8cb53;
  color: white;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 8px;
  padding: 14px 42px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(#f8cb53, 15);
  }
}

.school-presentation {
  position: relative;

  @include burger-enable {
    margin: 0 -0.5rem;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    background: #418cd8e1;
    color: #fff;
    padding: 60px 35px;

    @include tablet-max {
      position: static;
    }

    h2 {
      margin-bottom: 20px;
      font-size: 1.5rem;
      font-weight: bold;
    }

    p {
      margin-bottom: 20px;
      font-family: "Open Sans", sans-serif;
      line-height: normal;
    }

    ul li {
      margin-bottom: 35px;
    }
  }

  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
  }

  .video-button {
    background-color: #f8cb53;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;

    i {
      margin-right: 1rem;
    }
  }
}

.list-partners {
  display: grid;
  grid-template-columns: repeat(5, 127px);
  justify-content: space-around;

  @include mobile {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .partner {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: 3px solid #f8cb53;
    background-color: #ffffff;
    aspect-ratio: 1.085;
    transition: border 0.2s ease-in-out;

    &:hover {
      border: 3px solid #418cd8;
    }

    a {
      display: block;
      height: 100%;
      width: 100%;
      padding: 0.5rem;
    }

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
}

.decouvrir-presentation {
  color: #f8cb53;
  position: relative;
  font-weight: bold;

  &.before {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 120%;
      width: 44px;
      height: 2px;
      background-color: #f8cb53;
      transition: width 0.3s;
    }

    &:hover::before {
      width: 100%; /* ajuster cette valeur pour contrôler combien le trait s'étend sur le survol */
    }
  }

  &.after {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 120%;
      width: 44px;
      height: 2px;
      background-color: #f8cb53;
      transition: width 0.3s;
    }

    &:hover::after {
      width: 100%; /* ajuster cette valeur pour contrôler combien le trait s'étend sur le survol */
    }
  }
}
