@import "./media-queries.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --header-size: 3rem;
  --title-size: 2rem;
  --subtitle-size: 1.5rem;
  --body-size: 1rem;
  --swiper-navigation-size: 4rem;
  --max-width: 1440px;
}

@include tablet-max {
  :root {
    --header-size: 3rem;
    --title-size: 1.5rem;
    --subtitle-size: 1.5rem;
    --body-size: 1rem;
    --swiper-navigation-size: 4rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: white;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.main {
  background: url("assets/images/header/background-header.svg") no-repeat right
    top;
  background-size: contain;
}

.main-content {
  max-width: var(--max-width);
  padding: 0 0.5rem;
  margin: 0 auto;
}

.video-cropper {
  overflow: hidden;
  position: relative;
  height: 60vh;

  .video-container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.video-container {
  width: 65%;
  position: relative;
}

.section-title-wrapper {
  text-align: center;
  color: #000000;
  font-weight: 800;
  font-size: var(--title-size);
  margin-top: 90px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;

  .section-title {
    width: fit-content;
    position: relative;
  }

  .section-title-separator {
    height: 3px;
    color: #f8cb53;
    background-color: #f8cb53;
    width: 145px;
    border: none;
    margin: 20px auto 0;
  }

  .yellow-box {
    position: absolute;
    background-color: #f8cb53;
    right: -45px;
    bottom: 20px;
    height: 20px;
    width: 20px;
  }

  .blue-box {
    position: absolute;
    background-color: #418cd8;
    left: -40px;
    top: 28px;
    height: 17px;
    width: 17px;
  }

  .red-box {
    position: absolute;
    background-color: #ff0000;
    left: 0;
    top: -30px;
    height: 11px;
    width: 11px;
  }
}

.socials-activities {
  .socials-activities-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
    justify-content: center;

    &::after {
      content: "";
      flex: auto;
    }

    @include tablet-max {
      flex-wrap: nowrap;
      column-gap: 10px;
      justify-content: space-between;
      overflow-y: hidden;
      overflow-x: auto;
    }

    li {
      flex: 1 0 23%;
      aspect-ratio: 1 / 1;
      position: relative;

      @include tablet-max {
        flex: 1 0 95%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .activity-title {
        position: absolute;
        bottom: 0%;
        left: 30%;
        right: 30%;
        background-color: #f8cb53;
        text-align: center;
        padding: 10px;
        color: white;
      }
    }
  }
}

.cta-wrapper {
  margin: 55px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-cta {
  background-color: #f8cb53;
  color: white;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 8px;
  padding: 14px 42px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(#f8cb53, 15);
  }
}

.school-presentation {
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    background: #418cd8cc;
    color: #fff;
    padding: 64px;

    @include tablet-max {
      position: static;
    }

    h2 {
      margin-bottom: 20px;
      font-size: 1.5rem;
      font-weight: bold;
    }

    p {
      margin-bottom: 20px;
    }

    .decouvrir-presentation {
      color: #f8cb53;
      position: relative;
      font-weight: bold;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 120%;
        width: 44px;
        height: 2px;
        background-color: #f8cb53;
        transition: width 0.3s;
      }

      &:hover::after {
        width: 100%; /* ajuster cette valeur pour contrôler combien le trait s'étend sur le survol */
      }
    }
  }

  img {
    width: 100%;
    height: 38vh;
    object-fit: cover;
    display: block;
  }

  .video-button {
    bottom: 0px;
    right: 762px;
    background-color: #f8cb53;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px 0 0 5px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }
}

.list-partners {
  display: flex;
  justify-content: space-around;

  @include tablet-max {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .partner {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: 3px solid #f8cb53;
    background-color: #ffffff;
    width: 127px;
    height: 117px;
    transition: border 0.2s ease-in-out;

    @include tablet-max {
      aspect-ratio: 1.085;
      width: 45%;
      height: auto;
    }

    &:hover {
      border: 3px solid #418cd8;
    }

    a {
      display: block;
      height: 100%;
      width: 100%;
      padding: 0.5rem;
    }

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
}
